<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>9B9F3C035C5C64F236C3C13370041CBA</string>
            <key>code2</key>
            <string>01D7CE4C7421C2F4C7B804AE659CFB9D</string>
            <key>code3</key>
            <string>B00165C70F02A5087608EA54A20367D9</string>
            <key>code4</key>
            <string>F37BC544778D113097775AED549EAEAF</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>DE</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>RU</key>
            <string>connect-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-dra.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-dra.hispace.hicloud.com</string>
        </dict>
        <key>websocketgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>DE</key>
            <string>connect-ws-dre.hispace.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-ws-dre.hispace.dbankcloud.com</string>
            <key>RU</key>
            <string>connect-ws-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-ws-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-ws-dra.hispace.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-ws-dra.hispace.dbankcloud.com</string>
        </dict>
        <key>oauth_client</key>
        <dict>
            <key>client_id</key>
            <string>108042251</string>
            <key>client_type</key>
            <string>22</string>
        </dict>
        <key>configuration_version</key>
        <string>3.0</string>
        <key>app_info</key>
        <dict>
            <key>app_id</key>
            <string>172249065902422656</string>
            <key>package_name</key>
            <string>com.example.ulearningApp</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>30086000678159816</string>
            <key>product_id</key>
            <string>388421841221406204</string>
            <key>client_id</key>
            <string>1131172054075199296</string>
            <key>client_secret</key>
            <string>[!0027FDDFCF254ED26FD0A4F48469B3CA311AA6A5F08228785F2E19730DCF4828E0E54C1A667244FBA6645DDD84A757FCAD83386C9E07141DCA9F8950947D07BAFC152219F2D3B267B107B1AFF0A13CBF94DA18AD9382B9794E476E96E9965F42B9]</string>
            <key>project_id</key>
            <string>388421841221406204</string>
            <key>app_id</key>
            <string>172249065902422656</string>
            <key>api_key</key>
            <string>DAEDADC6CTkJhQn1I7C9Un+COaO1eSYPGouvbQaT8ocHTyBZZrD3CzUJ0Wo01Jqqsb/SAqaJ2vMi5J8fOiSIKSqPaPXDTGGybQmupg==</string>
            <key>package_name</key>
            <string>com.example.ulearningApp</string>
        </dict>
        <key>service</key>
        <dict/>
        <key>region</key>
        <string/>
        <key>appInfos</key>
        <array>
            <dict>
                <key>package_name</key>
                <string>com.example.ulearningApp</string>
                <key>client</key>
                <dict>
                    <key>client_secret</key>
                    <string>[!004EDF12F48D8942E2FDF65BA534249B9FBD071604FD8AA2EB5EA7AE69701B0E83A1A13F46E230AE9AA94F1D1B3ED592333D60AC88197587EC7A2CFD861CC9D50135618CB58CBD2F6CEA3210E2B36B76659A15AED4ECFA5CDFDA18E06FB997F47B]</string>
                    <key>app_id</key>
                    <string>172249065902422656</string>
                </dict>
                <key>code</key>
                <dict>
                    <key>code1</key>
                    <string>3C408419ABA9AA0C990E831C5DB2B44150F48E8306904483E57132F1647C1C3C</string>
                    <key>code2</key>
                    <string>02AD124DF0FB9412F806A84AF5AACDA571CB8BF331D233B565C8D369FC56F3F6</string>
                    <key>code3</key>
                    <string>21AE4C0AF7D97AD0755220533A8A9E193963B190B625281A901B21AB0675F909</string>
                    <key>code4</key>
                    <string>49EC82CE484D98402EAB8D95B07DFE38</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
